services:
  db1:
    image: postgres:18-alpine
    container_name: todo-api-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todo
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
